<form action="">
    <div class="input-group">
        <p>
            <label for="inicial-investmet">Inicial Investment</label>
            <input id="inicial-investmet" type="number">
        </p>
        <p>
            <label for="annual-investmet">Annual Investment</label>
            <input id="annual-investmet" type="number">
        </p>
    </div>
    <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input id="expected-return" type="number">
        </p>
        <p>
            <label for="duration">Duration</label>
            <input id="duration" type="number">
        </p>
    </div>
    <p>
        <button>Calculte</button>
    </p>
</form>
